body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87CEEB;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between; 
    padding-left: 2vh;   
    padding-top: 2vh;
  

}
nav ul li {
    background-color: #00afef;
    width: 28%;
    text-align: center;
    border-radius: 0.2rem;
    padding: 10px;
    
  }

  /*
  BUTTTONNSSS
   */

   nav ul li a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }

header{
    display:flex;
    max-width: 80%;
}

header img {
    height: 100px;
    width: auto;
    grid-area: header;
}
header h1 {
    padding-left: 20px;
    padding-top: 10px;
    grid-area: header;
}

.popstuff{
display:flex;
align-items: center;
align-items: center;
grid-area: randoms;

}

main div li{
display: inline;
padding-left: 40px;
padding-bottom: 10px;
}
main div h2{
    padding-left: 10px;
    grid-area: didyouknow;
}

main{
    grid-area:popsiclestuffmiaw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
     "photo didyouknow"
     "photo randoms";
     grid-gap: 10px;
}

main img {
    width: 100%;
    grid-area: photo;

}
main div li:before {
    content: '🍡';
    margin-left: -31px;
    padding-right: 8px;
}

main, section, footer {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
  

}
main div{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
}

.store-button { /* used for store link in "Get refreshed" section */
    padding: 10px;
    padding-left: 10px;
    border-radius: 5px;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
/*idk*/
    width: 30%;
    line-height: 20px;

}
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
     "header links"
     "popsiclestuffmiaw popsiclestuffmiaw"
     "race summer"
     "footer footer";
     grid-gap: 10px;
  }

#race{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
     "bluepop racetext"
     "bluepop racetext1";
     grid-gap: 10px;
}
#BluePop{
    grid-area: bluepop;
}

#race>h3{
    grid-area: racetext;
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}
#race>p{
    grid-area:racetext1;
    justify-content: center;
    padding-bottom: 20px;

}
#refreshed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#refreshed>p{
    padding-bottom: 1vh;
}


footer{
 grid-area: footer;
 display: flex;
 height: 25%;
 align-items: center;
 
}
html{
    margin-left : 10px;
    margin-right : 10px;
}




/* 
********CONTACT US STUFF ********

| | | | | | | | | | | | | | | | | 
V V V V V V V V V V V V V V V V V
*/

#contact-us{
    padding-left: 0;
}
#contact-usm #contact-us{
padding-top: 0;
}
#labelsforms{
    display: flex;
    padding-top: 0;
    font-size: large;
    
}
#labelsforms input ,select{
    margin-bottom: 2vh;
    flex-basis: 2vh;
}

#labelsforms label{
    padding-bottom: 0.5vh;
}

#favoritepopsicle{
    display: flex;
   width: 100%;
}

.submit-button { /* used for store link in "Get refreshed" section */
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #00afef;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    width: 50%;

}

@media only screen and (max-width: 800px) {

    body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
     "header"
     "links"
     "popsiclestuffmiaw"
     "race"
     "summer"
     "footer";
     grid-gap: 5px;
  }
  
  nav ul {
    padding-left: 0;   
    padding-top: 0;
  
}
  nav ul li {
    width: 28%;
    padding: 0.5%;
    flex-basis: 30%;
    height: 50%;

  }
  nav ul li a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    
  }
  html{
    margin-left : 2px;
    margin-right : 2px;
}
main{
    display: flex;
    grid-area:popsiclestuffmiaw;
    align-items: center;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
     "photo"
     "popsiclestuffmiaw";
     grid-gap: 10px;
}
main div{
    flex-direction: column;
    padding-top: 0;
}

/* 
********CONTACT US STUFF ********

| | | | | | | | | | | | | | | | | 
V V V V V V V V V V V V V V V V V
*/

#labelsforms{
    display: flex;
    font-size: s;
}
#buttonThing{
padding-top: 4vh;

}
}